<!-- test section start -->
<div class="theme-section theme-section-ex-padding ku-quote-section gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="area-heading text-center">
                    <h2 class="area-title">Admin Home Page</h2>
                    <p>This will be the starting page for an admin logging into the system.  Typically it is a dashboard-like presentation that shows statistics about the system, tasks or actions, and links to other pages withing the admin section.</p>
                </div>
            </div>
        </div>
</div>
<!-- test section end -->
