<!-- test section start -->
<div class="theme-section theme-section-ex-padding ku-quote-section gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="area-heading text-center">
                    <h2 class="area-title">Test Page</h2>
                    <p>This page should only be accessable when you are logged in as an admin.  We will use it to do some of the automated tests on the system.</p>
                </div>
            </div>
        </div>
</div>
<!-- test section end -->
