<!-- contact section start -->
<div class="theme-section theme-section-ex-padding ku-quote-section gray-bg">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="area-heading text-center">
                    <h2 class="area-title">Requests</h2>
                    <p>If you want to request a shoe... please use the online form at XXXXX.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="area-heading text-center">
                    <h2 class="area-title">By US Mail</h2>
                    <p>Correspondence, registrations and donations may be sent to NATIONAL ODD SHOE EXCHANGE at the following address:
NATIONAL ODD SHOE EXCHANGE
POB 1120
Chandler, Arizona   USA
85244-1120
As this is a US Postal Service P.O. Box, do not use this address for UPS, FedEx and other private carriers. To ship freight and larger deliveries, phone (480) 892-3484.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="area-heading text-center">
                    <h2 class="area-title">By Phone</h2>
                    <p>We do not generally man the phones, but you can leave a message at (480) 892-3484. When leaving a voice message, please speak slowly and clearly.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="area-heading text-center">
                    <h2 class="area-title">By Email</h2>
                    <p>tbd...</p>
                </div>
            </div>
        </div>


</div>
<!-- contact section end -->

