<!-- test section start -->
<div class="theme-section theme-section-ex-padding ku-quote-section gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="area-heading text-center">
                    <h2 class="area-title">Admin Test Page</h2>
                    <p>You should only be able to get to this page (and others) if you are logged in as an admin to the system.</p>
                </div>
            </div>
        </div>
</div>
<!-- test section end -->
