            <!-- Blog area start -->
            <div class="theme-section blog-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="area-heading text-center">
                                <h2 class="area-title">Recent News</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus sunt a recusandae molestias nobis reprehenderit eaque laborum, veritatis accusantium aspernatur?</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <article class="blog-post">
                                <div class="post-thumbnail">
                                    <a href="#"><%= image_tag("img/blog/1.jpg") %></a>
                                </div>
                                <div class="post-content">
                                    <h5 class="post-title"><a href="#">Education for children</a></h5>
                                    <ul class="event-meta">
                                        <li><a href="#"><i class="fa fa-user"></i>Admin</a></li>
                                        <li><a href="#"><i class="fa fa-calendar"></i>07 Aug</a></li>
                                    </ul>
                                    <p>Blog1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, nulla, expedita. Earum neque inventore in.</p>
                                    <a class="text-link" href="#">learn more</a>
                                </div>
                            </article>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <article class="blog-post">
                                <div class="post-thumbnail">
                                    <a href="#"><%= image_tag("img/blog/2.jpg") %></a>
                                </div>
                                <div class="post-content">
                                    <h5 class="post-title"><a href="#">Education for children</a></h5>
                                    <ul class="event-meta">
                                        <li><a href="#"><i class="fa fa-user"></i>Admin</a></li>
                                        <li><a href="#"><i class="fa fa-calendar"></i>07 Aug</a></li>
                                    </ul>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, nulla, expedita. Earum neque inventore in.</p>
                                    <a class="text-link" href="#">learn more</a>
                                </div>
                            </article>
                        </div>
                        <div class="col-md-4 hidden-sm">
                            <article class="blog-post">
                                <div class="post-thumbnail">
                                    <a href="#"><%= image_tag("img/blog/3.jpg") %></a>
                                </div>
                                <div class="post-content">
                                    <h5 class="post-title"><a href="#">Education for children</a></h5>
                                    <ul class="event-meta">
                                        <li><a href="#"><i class="fa fa-user"></i>Admin</a></li>
                                        <li><a href="#"><i class="fa fa-calendar"></i>07 Aug</a></li>
                                    </ul>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, nulla, expedita. Earum neque inventore in.</p>
                                    <a class="text-link" href="#">learn more</a>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Blog area end -->
