            <!-- Counter section start -->
            <div class="counter-section theme-section-2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 ">
                            <div class="single-counter text-center ">
                                <div class="counter-icon ">
                                    <i class="bi bi-love"></i>
                                </div>
                                <div class="counter-content ">
                                    <p class="counter ">485</p>
                                    <h3>causes solved</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 ">
                            <div class="single-counter text-center ">
                                <div class="counter-icon ">
                                    <i class="bi bi-group"></i>
                                </div>
                                <div class="counter-content ">
                                    <p class="counter ">866</p>
                                    <h3>volunteers</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 ">
                            <div class="single-counter text-center ">
                                <div class="counter-icon ">
                                    <i class="bi bi-like"></i>
                                </div>
                                <div class="counter-content ">
                                    <p class="counter">897</p>
                                    <h3>honorable donor</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 ">
                            <div class="single-counter text-center ">
                                <div class="counter-icon">
                                    <i class="bi bi-emo-smile"></i>
                                </div>
                                <div class="counter-content ">
                                    <p class="counter ">2050</p>
                                    <h3>saved children</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Counter section end -->

