            <!-- Donet section start -->
            <div class="donet-section theme-section theme-section-ex-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="area-heading text-center">
                                <h3 class="area-title">Featured campaigns</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus sunt a recusandae molestias nobis reprehenderit eaque laborum, veritatis accusantium aspernatur?</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="donate-feature-list navigation-style-1">
                                <div class="single-donet">
                                    <div class="donet-thumbnail">
                                        <%= image_tag("img/feature/1.jpg") %>
                                    </div>
                                    <div class="donet-content">
                                        <div class="donet-content-heading">
                                            <h3><a href="#">Clean water for africa</a></h3>
                                            <ul class="event-meta">
                                                <li><a href="#"><i class="fa fa-tag"></i>Water</a></li>
                                                <li><a href="#"><i class="fa fa-calendar"></i>07 Aug</a></li>
                                            </ul>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In quae aut tempore fugiat, veritatis. Mollitia consequatur, veritatis quidem id ipsum cumque nemo quisquam, necessitatibus, aliquam error voluptate, et incidunt soluta.</p>
                                        </div>
                                        <div class="donet-bar">
                                            <p>Raised: $3750 <span class="project-goal">Goal: $10000</span></p>
                                            <div class="progress-bar-area">
                                                <div class="single-progress-bar">
                                                    <div class="progress ">
                                                        <div class="progress-bar wow fadeInLeft" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%; visibility: visible; animation-duration: 3s; animation-delay: .5s; ">
                                                            <span>65%</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <a class="btn btn-default" href="#">donate now</a>
                                    </div>
                                </div>
                                <div class="single-donet">
                                    <div class="donet-thumbnail">
                                        <%= image_tag("img/feature/2.jpg") %>
                                    </div>
                                    <div class="donet-content">
                                        <div class="donet-content-heading">
                                            <h3><a href="#">special cause Right Now</a></h3>
                                            <ul class="event-meta">
                                                <li><a href="#"><i class="fa fa-tag"></i>Education</a></li>
                                                <li><a href="#"><i class="fa fa-calendar"></i>07 Aug</a></li>
                                            </ul>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In quae aut tempore fugiat, veritatis. Mollitia consequatur, veritatis quidem id ipsum cumque nemo quisquam, necessitatibus, aliquam error voluptate, et incidunt soluta.</p>
                                        </div>
                                        <div class="donet-bar">
                                            <p>Raised: $4500 <span class="project-goal">Goal: $20000</span></p>
                                            <div class="progress-bar-area">
                                                <div class="single-progress-bar">
                                                    <div class="progress ">
                                                        <div class="progress-bar wow fadeInLeft" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%; visibility: visible; animation-duration: 3s; animation-delay: .5s; ">
                                                            <span>60%</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <a class="btn btn-default" href="#">donate now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Donet section end -->
