<!-- PatNotes section start -->
<div class="donet-section theme-section theme-section-ex-padding">
    <div class="container">
                <div class="area-heading text-center">
                    <h3 class="area-title">Development Notes</h3>
                    <p><b>John</b>... This is the updated version as of Feb 18.  I bought one of those design templates and merged it with may rails application.  This is something that I have wanted to attempt for some time.  Most of the links and stuff is all just placeholder, but it might give you some ideas about a fancier site.</p>
                    <p>There is one (known) <b>problem</b> with the current implementation that I have not yet figured out.  When you jump from page to page it does not load the page... you have to refresh the page from the browser.</p>
                </div>
    </div>
</div>
<!-- PatNotes section end -->
