            <!-- sponsor area start -->
            <div class="sponsor-section theme-section-2 gray-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="sponsor-thumbnail-wrapper">
                            	<% %w(1 2 3 4 5 3).each do |w| %>
                                <div class="single-sponsor-thumb">
                                    <%= image_tag("img/sponsor/#{w}.png") %>
                                </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- sponsor area end -->
