            <!-- Testimonial area start -->
            <div class="theme-section theme-section-ex-padding testimonial-section gray-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="area-heading text-center">
                                <h2 class="area-title">what our donors say?</h2>
                                <p>Testimonial ipsum dolor sit amet, consectetur adipisicing elit. Temporibus sunt a recusandae molestias nobis reprehenderit eaque laborum, veritatis accusantium aspernatur?</p>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-12">
                            <div class="testimonial-wrapper navigation-style-1">
                                <div class="single-testimonial ">
                                    <blockquote>
                                    	<%= image_tag("img/avatar/1.jpg", class:"client-image") %>
                                        <p class="client-name ">John Doe <span class="designation ">CEO Microsoft</span></p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, cumque, quibusdam.</p>
                                    </blockquote>
                                </div>
                                <div class="single-testimonial ">
                                    <blockquote>
                                        <%= image_tag("img/avatar/2.jpg", class:"client-image") %>
                                        <p class="client-name ">John Doe <span class="designation ">CEO Google</span></p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, cumque, quibusdam.</p>
                                    </blockquote>
                                </div>
                                <div class="single-testimonial ">
                                    <blockquote>
                                        <%= image_tag("img/avatar/3.jpg", class:"client-image") %>
                                        <p class="client-name ">John Doe <span class="designation ">CEO Twitter</span></p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, cumque, quibusdam.</p>
                                    </blockquote>
                                </div>
                                <div class="single-testimonial ">
                                    <blockquote>
                                        <%= image_tag("img/avatar/3.jpg", class:"client-image") %>
                                        <p class="client-name ">John Doe <span class="designation ">CEO Twitter</span></p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, cumque, quibusdam.</p>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Testimonial area end -->
