            <!-- volunteer section start -->
            <div class="theme-section theme-section-ex-padding gray-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="area-heading text-center">
                                <h2 class="area-title">meet our volunteer</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus sunt a recusandae molestias nobis reprehenderit eaque laborum, veritatis accusantium aspernatur?</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9 col-lg-8">
                            <div class="volunteer-member-list navigation-style-1 navigation-style-2">
                                <div class="single-volunteer-member">
                                    <div class="volunteer-thumb">
                                    	<%= image_tag("img/volunteer/1.jpg") %>
                                    </div>
                                    <div class="volunteer-content">
                                        <h4><a href="#">john doe</a></h4>
                                        <p>UI/UX Designer</p>
                                    </div>
                                </div>
                                <div class="single-volunteer-member">
                                    <div class="volunteer-thumb">
                                        <%= image_tag("img/volunteer/2.jpg") %>
                                    </div>
                                    <div class="volunteer-content">
                                        <h4><a href="#">Sofia Torn</a></h4>
                                        <p>Programmer</p>
                                    </div>
                                </div>
                                <div class="single-volunteer-member">
                                    <div class="volunteer-thumb">
                                        <%= image_tag("img/volunteer/3.jpg") %>
                                    </div>
                                    <div class="volunteer-content">
                                        <h4><a href="#">Ashikur Khan</a></h4>
                                        <p>Chief Volunteer</p>
                                    </div>
                                </div>
                                <div class="single-volunteer-member">
                                    <div class="volunteer-thumb">
                                        <%= image_tag("img/volunteer/1.jpg") %>
                                    </div>
                                    <div class="volunteer-content">
                                        <h4><a href="#">john doe</a></h4>
                                        <p>Support</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-4 hidden-sm hidden-xs">
                            <div class="be-volunteer">
                                <div class="be-volunteer-content text-center">
                                    <h4>become volunteer</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus vitae optio, eaque debitis eius dicta!</p>
                                    <a href="#" class="btn btn-default">join now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- volunteer section end -->
