        <!-- Footer section start -->
        <footer class="theme-footer-section">
            <!-- Footer top section start -->
            <div class="footer-top-area color red-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <aside class="footer-widget">
                                <a class="logo" href="index.html">NOS (footer)</a>
                                <div class="footer-widget-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias quo magnam iure a tempore voluptatibus.</p>
                                    <ul class="contact-address">
                                        <li><i class="fa fa-map-marker"></i> 29/1 State Road, USA</li>
                                        <li><i class="fa fa-phone"></i> +8 12 234 313</li>
                                        <li><a href="mailto:admin@yourdomain.com"><i class="fa fa-envelope-o"></i> admin@yourdomain.com</a></li>
                                    </ul>
                                    <ul class="contact-social-menu">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                    </ul>
                                </div>
                            </aside>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="footer-widget">
                                <h3 class="footer-widget-title">tags</h3>
                                <div class="footer-widget-content">
                                    <ul class="footer-tags">
                                        <li><a href="#">volunteers</a></li>
                                        <li><a href="#">donates</a></li>
                                        <li><a href="#">how to donate</a></li>
                                        <li><a href="#">donate list</a></li>
                                        <li><a href="#">causes</a></li>
                                        <li><a href="#">education</a></li>
                                        <li><a href="#">health</a></li>
                                        <li><a href="#">food</a></li>
                                        <li><a href="#">events</a></li>
                                        <li><a href="#">donors</a></li>
                                        <li><a href="#">children</a></li>
                                        <li><a href="#">disabled</a></li>
                                        <li><a href="#">elderly</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <aside class="footer-widget">
                                <h3 class="footer-widget-title">quick links</h3>
                                <div class="footer-widget-content">
                                    <ul class="quick-link">
                                        <li><%= link_to 'about us', public_page_path(:about) %></li>
                                        <li><a href="#">news</a></li>
                                        <li><a href="#">upcoming events</a></li>
                                        <li><a href="#">popular news</a></li>
                                        <li><a href="#">contact us</a></li>
                                    </ul>
                                </div>
                            </aside>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="footer-widget">
                                <h3 class="footer-widget-title">Subscribe</h3>
                                <div class="footer-widget-content">
                                    <p>Enter your mail address and click 'Subscribe' to get in touch our upcoming events and news.</p>
                                    <form class="subscribe-form" action="#">
                                        <input name="email" placeholder="Your Email Address" required="" type="email">
                                        <button class="subscribe-btn" type="submit">
                                            <i class="fa fa-angle-right"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer top section end -->
            <!-- Footer Bottom section start -->
            <div class="footer-bottom-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="copy-right-info">
                                <p>&copy; 2018 <span>NOS</span>. All right reserved by <a href="http://www.oddshoe.org">Odd Shoe</a></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="footer-main-menu">
                                <ul class="footer-menu">
                                    <li><a href="#">home</a></li>
                                    <li><a href="#">about</a></li>
                                    <li><a href="#">causes</a></li>
                                    <li><a href="#">event</a></li>
                                    <li><a href="#">gallery</a></li>
                                    <li><a href="#">contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer Bottom section end -->
        </footer>
        <!-- Footer section end -->
