<!-- Full width search section start -->
<div class="full-width-search-wrapper">
    <div class="search-area">
        <p class="search-closer"><i class="fa fa-times"></i></p>
        <form action="#" class="full-width-search-form">
            <input type="text" placeholder="Enter keyword.." id="search-keyword">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
</div>
<!-- Full width search section end -->